$color: #ff0000;

body
{
    background: $color;

    h1
    {
        text-align: center;
    }
    a
    {
        transition: all 0.5s ease-in-out;
    }
    ul {
        li{
            display: inline-block;
        }
    }
}