$background-color: #4BB049;
$text-color: #fff;
$background-dark-color: #0E180D;

body
{
    margin: 0;
    background-color: $background-dark-color;
}
header
{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $background-color;
    .header-container
    {
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        height: 110px;
        .header-logo
        {
            grid-column-start: 2;
            grid-column-end: 4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            span
            {
                font-family: 'Staaliches';
                font-size: 32px;
                color: $text-color;
                line-height: 32px;
            }
        }
        div
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        a
        {
            text-decoration: none;
            font-family: 'Oswald';
            font-size: 24px;
            color: $text-color;
        }
        .header-menu__search
        {
            grid-column: span 2;
            background-color: $text-color;
            form
            {
                display: flex;
                input
                {
                    border: none;
                    border-bottom: 4px solid $background-color;
                    padding: 0;
                    color: $background-color;
                    font-size: 24px;
                    font-family: 'Oswald';
                    font-weight: 400;
                    width: 75%;
                }
                input:focus
                {
                    outline: none;
                }
                input:focus::placeholder
                {
                    color: transparent;
                }
                input::placeholder
                {
                    color: $background-color;
                    font-family: 'Oswald';
                    font-size: 24px;
                    font-weight: 400;
                }
                button
                {
                    background-color: $text-color;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: end;
                }
            }
        }
    }
}
main
{
    .swiper-slide
    {
        width: 100%;
        height: 840px;
        background-image: url(../img/webp/banner.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        color: $text-color;
        h1, p
        {
            font-family: 'Oswald';
            font-size: 24px;
        }
        h1
        {
            font-weight: 600;
            margin: 0;
        }
        p
        {
            width: 25%;
            margin-bottom: 100px;
        }
    }
    .swiper-button-next, .swiper-button-prev
    {
        margin-top: 50px;
    }
    .player
    {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2;
        background-color: $background-color;
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        #player-status
        {
            font-family: 'Oswald';
            font-size: 24px;
            color: $text-color;
            grid-column-start: 2;
            display: flex;
            align-items: center;
        }
        .album-container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/webp/album.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 120px;
            width: 150px;
            button
            {
                background-color: transparent;
                border: none;
                cursor: pointer;
                height: 100%;
                width: 100%;
            }
        }
        .song-container
        {
            grid-column-start: 4;
            grid-column-end: 6;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;
            color: $text-color;
            font-family: 'Oswald';
            font-size: 24px;
            #sound-type
            {
                font-weight: 600;
            }
        }
        .change-volume
        {
            grid-column-start: 10;
            grid-column-end: 11;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button
            {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
        .change-bitrate
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $text-color;
            font-family: 'Oswald';
            font-size: 24px;
            .bitrate-variants
            {
                button
                {
                    color: $text-color;
                    font-size: 24px;
                    font-family: 'Oswald';
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
    .sounds-block
    {
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-template-rows: repeat(6, 110px);
        row-gap: 30px;
        background-color: $background-dark-color;
        .songs-search-form-container
        {
            grid-column: span 4;
            grid-row: span 3;
            display: grid;
            grid-template-columns: 2fr repeat(3, 1fr);
            background-color: $background-color;
            font-family: 'Oswald';
            color: $text-color;
            font-size: 20px;
            form
            {
                grid-column-start: 2;
                grid-column-end: 5;
                display: grid;
                grid-template-rows: 120px 100px 120px;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                h2
                {
                    margin: 0;
                    font-size: 36px;
                    grid-row: 1;
                    grid-column: span 3;
                    display: flex;
                    align-items: end;
                }
                .songs-form-date, .songs-form-time
                {
                    grid-row: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    label
                    {
                        padding-bottom: 5px;
                    }
                    input
                    {
                        height: 50px;
                    }
                }
                .songs-form-time
                {
                    margin-right: 15px;
                }
                .songs-form-date
                {
                    grid-column: span 2;
                }
                .songs-form-submit
                {
                    grid-row: 3;
                    grid-column: span 2;
                    display: flex;
                    justify-content: start;
                    height: 50px;
                    button
                    {
                        width: 100%;
                        background-color: $text-color;
                        color: $background-color;
                        border: none;
                        cursor: pointer;
                        font-family: 'Oswald';
                        font-size: 20px;
                    }
                }
            }
        }
        h2
        {
            font-family: 'Oswald';
            font-size: 32px;
            color: $text-color;
            grid-column-start: 6;
            grid-column-end: 9;
            height: 100%;
            margin: 0;
            display: flex;
            align-items: end;
        }
        .sound-container
        {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            background-color: $background-color;
            grid-column-start: 6;
            grid-column-end: 12;
            width: 100%;
            height: 100%;
            button
            {
                background-color: transparent;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
            .sound-container__play
            {
                grid-column: 1;
                background-image: url(../img/webp/album.webp);
            }
            span
            {
                font-family: 'Oswald';
                font-size: 24px;
                color: $text-color;
            }
            .sound-type
            {
                font-weight: 600;
            }
            .sound-info
            {
                grid-column: span 3;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
            }
            .sound-info-advanced
            {
                grid-column-start: 5;
                grid-column-end: 7;
                display: flex;
                flex-direction: column;
                align-items: end;
                justify-content: center;
                margin-right: 10px;
                margin-bottom: 5px;
                .sound-options
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: end;
                    button
                    {
                        margin-left: 10px;
                        img
                        {
                            width: 100%;
                            height: 100%;
                        }
                        width: 70%;
                        height: 70%;
                    }
                }
                .sound-date
                {
                    justify-self: start;
                }
            }
        }
        .sound-container:nth-of-type(n+4)
        {
            grid-column-start: 2;
            grid-column-end: 12;
        }
        #sounds-showAll
        {
            grid-row: 6;
            grid-column-start: 6;
            grid-column-end: 8;
            height: 50px;
            border: none;
            background-color: $background-color;
            cursor: pointer;
            font-family: 'Oswald';
            font-size: 24px;
            color: $text-color;
            padding: 0;
        }
    }
    .podcasts-block
    {
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-template-rows: 150px repeat(2, 1fr) 150px;
        height: max-content;
        background-color: $background-dark-color;
        .podcasts__search-block
        {
            grid-row: 1;
            grid-column: span 12;
            background-color: $background-color;
            display: grid;
            grid-template-columns: 2fr repeat(10, 1fr) 2fr;
            font-family: 'Oswald';
            color: $text-color;
            form
            {
                grid-column-start: 2;
                grid-column-end: 12;
                display: grid; 
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(2, 75px);
                font-size: 20px;
                input
                {
                    border: none;
                    height: 32px;
                }
                h2
                {
                    grid-column: span 2;
                    grid-row: span 2;
                    text-align: center;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 56px;
                }
                .podcasts__form-date, .podcasts__form-time, .podcasts__form-submit
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    grid-row: span 2;
                    margin: 0 10px;
                }
                .podcasts__form-date
                {
                    grid-column: span 3;
                }
                .podcasts__form-submit
                {
                    grid-column-start: 9;
                    grid-column-end: 12;
                    button
                    {
                        border: none;
                        background-color: $text-color;
                        font-size: 24px;
                        font-family: 'Oswald';
                        color: $background-color;
                        height: 50px;
                        cursor: pointer;
                    }
                }
            }
        }
        #podcasts-container
        {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row: span 2;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(2, 1fr);
            .podcast-card
            {
                margin: 50px 10px 0 10px;
                grid-column: span 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: 'Oswald';
                color: $text-color;
                background-color: $background-color;
                .podcast-card__picture
                {
                    img
                    {
                        width: 100%;
                        height: 100%;
                    }
                }
                .podcast-card__info
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2
                    {
                        margin-bottom: 0px;
                    }
                }
                .podcast-card__info-advanced
                {
                    margin: 0 10px 10px 10px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    .podcast-card__options
                    {
                        button
                        {
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }
                    .podcast-card__date
                    {
                        text-align: end;
                    }
                }
            }
        }
        .podcasts-button__showAll-container
        {
            grid-row: 4;
            grid-column-start: 6;
            grid-column-end: 8;
            display: flex;
            margin-top: 35px;
            #podcasts-button__showAll
            {
                border: none;
                background-color: $background-color;
                cursor: pointer;
                font-family: 'Oswald';
                font-size: 24px;
                color: $text-color;
                height: 50px;
                width: 100%;
            }
        }
    }
    .news-block
    {
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-template-rows: 150px repeat(2, 1fr) 150px;
        height: max-content;
        background-color: $background-dark-color;
        .news__search-block
        {
            grid-row: 1;
            grid-column: span 12;
            background-color: $background-color;
            display: grid;
            grid-template-columns: 2fr repeat(10, 1fr) 2fr;
            font-family: 'Oswald';
            color: $text-color;
            form
            {
                grid-column-start: 2;
                grid-column-end: 12;
                display: grid; 
                grid-template-columns: repeat(10, 1fr);
                grid-template-rows: repeat(2, 75px);
                font-size: 20px;
                input
                {
                    border: none;
                    height: 32px;
                }
                h2
                {
                    grid-column: span 2;
                    grid-row: span 2;
                    text-align: center;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 56px;
                }
                .news__form-search, .news__form-submit
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    grid-row: span 2;
                    margin: 0 10px;
                    input
                    {
                        font-family: 'Oswald';
                        font-size: 24px;
                        color: $background-color;
                    }
                    input:focus
                    {
                        outline: none;
                    }
                }
                .news__form-search
                {
                    grid-column: span 5;
                }
                .news__form-submit
                {
                    grid-column-start: 9;
                    grid-column-end: 12;
                    button
                    {
                        border: none;
                        background-color: $text-color;
                        font-size: 24px;
                        font-family: 'Oswald';
                        color: $background-color;
                        height: 50px;
                        cursor: pointer;
                    }
                }
            }
        }
        #news-container
        {
            grid-column-start: 2;
            grid-column-end: 12;
            grid-row: span 2;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: repeat(2, 1fr);
            .news-card
            {
                margin: 50px 10px 0 10px;
                grid-column: span 5;
                height: max-content;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-family: 'Oswald';
                color: $text-color;
                background-color: $background-color;
                .news-card__picture
                {
                    width: 100%;
                    height: 150px;
                    background-image: url(../img/webp/album.webp);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .news-card__info
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2
                    {
                        margin-bottom: 0px;
                    }
                }
                .news-card__info-advanced
                {
                    margin: 0 10px 10px 10px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    .news-card__options
                    {
                        button
                        {
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }
                    .news-card__date
                    {
                        text-align: end;
                    }
                }
            }
        }
        .news-button__showAll-container
        {
            grid-row: 4;
            grid-column-start: 6;
            grid-column-end: 8;
            display: flex;
            margin-top: 35px;
            #news-button__showAll
            {
                border: none;
                background-color: $background-color;
                cursor: pointer;
                font-family: 'Oswald';
                font-size: 24px;
                color: $text-color;
                height: 50px;
                width: 100%;
            }
        }
    }
}
footer
{
    background-color: $background-color;
    display: grid;
    grid-template-columns: 2fr repeat(10, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    .social-media-container
    {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        h2
        {
            margin-bottom: 15px;
            font-family: 'Oswald';
            font-size: 32px;
            color: $text-color;
        }
        .social-media-links-container
        {
            button
            {
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}