$background-color: #4BB049;
$text-color: #fff;
$background-dark-color: #0E180D;

body
{
    margin: 0;
    background-color: $text-color;
}
header
{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $background-color;
    .header-container
    {
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        height: 110px;
        .header-logo
        {
            grid-column-start: 2;
            grid-column-end: 4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            span
            {
                font-family: 'Staaliches';
                font-size: 32px;
                color: $text-color;
                line-height: 32px;
            }
        }
        div
        {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        a
        {
            text-decoration: none;
            font-family: 'Oswald';
            font-size: 24px;
            color: $text-color;
        }
        .header-menu__search
        {
            grid-column: span 2;
            background-color: $text-color;
            form
            {
                display: flex;
                input
                {
                    border: none;
                    border-bottom: 4px solid $background-color;
                    padding: 0;
                    color: $background-color;
                    font-size: 24px;
                    font-family: 'Oswald';
                    font-weight: 400;
                    width: 75%;
                }
                input:focus
                {
                    outline: none;
                }
                input:focus::placeholder
                {
                    color: transparent;
                }
                input::placeholder
                {
                    color: $background-color;
                    font-family: 'Oswald';
                    font-size: 24px;
                    font-weight: 400;
                }
                button
                {
                    background-color: $text-color;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    align-items: end;
                }
            }
        }
    }
}
main
{
    .player
    {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 2;
        background-color: $background-color;
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        #player-status
        {
            font-family: 'Oswald';
            font-size: 24px;
            color: $text-color;
            grid-column-start: 2;
            display: flex;
            align-items: center;
        }
        .album-container
        {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../../main/img/webp/album.webp);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 120px;
            width: 150px;
            button
            {
                background-color: transparent;
                border: none;
                cursor: pointer;
                height: 100%;
                width: 100%;
            }
        }
        .song-container
        {
            grid-column-start: 4;
            grid-column-end: 6;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;
            color: $text-color;
            font-family: 'Oswald';
            font-size: 24px;
            #sound-type
            {
                font-weight: 600;
            }
        }
        .change-volume
        {
            grid-column-start: 10;
            grid-column-end: 11;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button
            {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
        .change-bitrate
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: $text-color;
            font-family: 'Oswald';
            font-size: 24px;
            .bitrate-variants
            {
                button
                {
                    color: $text-color;
                    font-size: 24px;
                    font-family: 'Oswald';
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
    .about-block
    {
        display: grid;
        grid-template-columns: 2fr repeat(10, 1fr) 2fr;
        grid-template-rows: 120px 400px 300px;
        gap: 10px;
        font-family: 'Oswald';
        color: $background-color;
        h2
        {
            font-size: 36px;
        }
        p, a
        {
            font-size: 24px;
        }
        .about-block__info-container
        {
            grid-column-start: 2;
            grid-column-end: 6;
            grid-row: 2;
            height: 100%;
            p:last-of-type
            {
                font-weight: 100;
            }
        }
        .support-block__info-container
        {
            grid-column-start: 2;
            grid-column-end: 6;
            grid-row: 3;
            height: 100%;
            a
            {
                text-decoration: none;
                color: $text-color;
                width: 150px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background-color;
            }
            P
            {
                font-weight: 100;
            }
        }
        .logo-container
        {
            grid-column-start: 7;
            grid-column-end: 11;
            grid-row-start: 2;
            grid-row-end: 4;
            width: 100%;
            display: flex;
            align-items: center;
            img
            {
                width: 50%;
                height: 50%;
                margin-right: 50px;
            }
            span
            {
                font-family: 'Staaliches';
                font-size: 96px;
            }
        }
    }
}
footer
{
    background-color: $background-color;
    display: grid;
    grid-template-columns: 2fr repeat(10, 1fr) 2fr;
    grid-template-rows: repeat(2, 1fr);
    .social-media-container
    {
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        h2
        {
            margin-bottom: 15px;
            font-family: 'Oswald';
            font-size: 32px;
            color: $text-color;
        }
        .social-media-links-container
        {
            button
            {
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}